ol {
    display: flex;
    flex-direction: column;
   
}
li {
    color: white;
    background-color: darkblue;
    padding: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    
}
li:hover {
    background-color: lightblue;
}

button {
    background-color: darkblue;
    color: white;
    padding: 5px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.welcome-prompt {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 5%;
    flex-direction: column;
    font-size: 40px;
    text-align: center;
    
}

.start-quiz {
    font-size: 30px;
    padding: 3%;
    margin-top: 5%;
}

